.Header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    p{
        font-size: 2rem;
        font-weight: 700;
    }
    .Header.desktop{
        width: 60%;
        min-width: 900px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .Header {
        .icon{
            width: 25px;
            height: 25px;
        }
        .Button:active{
            transform: scale(1.2);
        }
    }
}
